USE [master]
GO
/****** Object:  Database [CHURRAS]    Script Date: 2/12/2017 11:55:16 PM ******/
CREATE DATABASE [CHURRAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHURRAS', FILENAME = N'D:\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CHURRAS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CHURRAS_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CHURRAS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHURRAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHURRAS]
GO
/****** Object:  Table [dbo].[Churrasco]    Script Date: 2/12/2017 11:55:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Churrasco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NOT NULL,
	[Razao] [varchar](50) NOT NULL,
	[Obs] [varchar](140) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChurrascoParticipante]    Script Date: 2/12/2017 11:55:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChurrascoParticipante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdChurrasco] [int] NOT NULL,
	[IdParticipante] [int] NOT NULL,
	[Contribuicao] [decimal](5, 2) NULL,
	[CheckBebida] [bit] NOT NULL,
	[CheckPago] [bit] NOT NULL,
	[Obs] [varchar](140) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 2/12/2017 11:55:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Participante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ChurrascoParticipante]  WITH CHECK ADD FOREIGN KEY([IdChurrasco])
REFERENCES [dbo].[Churrasco] ([Id])
GO
ALTER TABLE [dbo].[ChurrascoParticipante]  WITH CHECK ADD FOREIGN KEY([IdParticipante])
REFERENCES [dbo].[Participante] ([Id])
GO
USE [master]
GO
